body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

html, body, #root , .left-wrap, .right-wrap{
  height:100vh;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

.left-wrap {
  width: 300px;
  float: left;
  border-right: 1px solid black;
}

.right-wrap {
  width: calc(100% - 305px);
  left: 305px;
  float: left;
  overflow-y: scroll;
  position: absolute;
}